.register-wrapper {
  width: 430px;
  
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin: auto;
  background: #000;;
}


.button-container {
  width: 90%;
  /* display: flex; */
  gap: 25px; /* Add spacing between buttons */
  justify-content: center; /* Center the buttons */
  margin-bottom: 20px;
  margin-top: 50%; /* Add some space from the top */
  flex-direction: column;
}

.Admin-button,

.view-nft-button{


  margin-top: 60%;
  font-size: 18px;
  border: none;
  background-color: #007bff; /* Button background color */
  color: white; /* Button text color */
  padding: 12px 24px; /* Make buttons a bit larger */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for beauty */


}
.create-nft-button {


  margin-top: 50%;
  font-size: 18px;
  border: none;
  background-color: #007bff; /* Button background color */
  color: white; /* Button text color */
  padding: 12px 24px; /* Make buttons a bit larger */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for beauty */


}


.User-button{

  width: 100%;
  font-size: 18px;
  border: none;
  background-color: #3d3f42; /* Button background color */
  color: white; /* Button text color */
  padding: 12px 24px; /* Make buttons a bit larger */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for beauty */



}



.Admin-button:hover,
.User-button:hover,
.view-nft-button:hover,
.create-nft-button:hover {


  background-color: #0056b3; /* Darker blue on hover */
  transform: translateY(-3px); /* Lift effect on hover */


}

.Admin-button:active,
.User-button:active,
.view-nft-button:active,
.create-nft-button:active {
  transform: translateY(0); /* Reset lift on click */
}
.button-container {

  display: flex;
  gap: 25px;
  margin: 90px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 1%;


}

/* Admin Button Styling */
.Admin-button {


  width: 100%;
  font-size: 18px;
  border: none;
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}

.Admin-button:hover {


  background-color: #0056b3;
  transform: translateY(-3px);


}

/* User Button Styling */
.User-button {
  /* margin-top:60%; */
  font-size: 18px;
  border: none;
  background-color: #03ceee;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}

.User-button:hover {

  background-color: #138496;
  transform: translateY(-3px);

}


.create-nft-button {

  font-size: 10px; /* Slightly larger font */
  border-color: #000000;
  background-color: #f6e0a1; /* Yellow */
  color: #000000; /* Darker text for contrast */
  /* padding: 14px 28px; */
  font-weight: bold;
  border: 1px solid #000000; /* Bold green border */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);

}

.dropdown {

  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
  right: 10px;
  top: 30px;

}
.bg-body-tertiary{
  background: #000;
margin-bottom: 0px !important;
}

.connect_button{
  background: #000;

}

.justify-content-end{
  background: #000;
}
.icon-container {
  position: absolute; /* Place the icon in a fixed position relative to the page */
  top: 10px;         /* Adjust the distance from the top */
  left: 20px;        /* Adjust the distance from the left */
  z-index: 1000;     /* Ensure it stays above other content */
}

.back-icon {
  font-size: 24px;   /* Adjust the size of the icon */
  color: #ffffff;       /* Set the icon color */
  cursor: pointer;   /* Change the cursor to pointer on hover */
  transition: color 0.3s ease; /* Add a smooth hover effect */
}

.back-icon:hover {
  color: #007bff;    /* Change color on hover */
}


.dropdown button {

  display: block;
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;

}

.dropdown button:hover {

  background-color: #f0f0f0;

}


.create-nft-button:hover {

  background-color: #e0a800;
  transform: translateY(-3px);


}

/* View NFT Button Styling */
.view-nft-button {


  font-size: 10px;
  font-weight: bold;
  border: 1px solid #000000; /* Bold green border */
  background-color: rgb(103, 194, 221); /* Transparent background */
  color: #000000; /* Green text */
  /* padding: 12px 24px; */
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  margin-top: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;


}


.view-nft-buttons {

  width: 100%;
  font-size: 10px;
  font-weight: bold;
  border: 1px solid #000000; /* Bold green border */
  background-color: rgb(103, 194, 221); /* Transparent background */
  color: #000000; /* Green text */
  padding: 12px 14px;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  margin-top: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;

}

.view-nft-button:hover {


  background-color: #28a745;
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);


}


.admin-dashboard{

  padding: 20px;
  width: 100%;
  height: 100vh;
  background-color: #000000; /* Dashboard background */
  color: white;
  text-align: center;
  align-items: center;
  overflow-y: auto;


  
}

.user-dashboard {


  padding: 20px;
  width: 100%;
  height: 100vh;
  background-color: #000000; /* Dashboard background */
  color: white;
  text-align: center;
  align-items: center;
  overflow-y: auto;


}


.approvalStatus {

  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;

}
.approvedMark {


  color: green;


}
.notApprovedMark {


  color: red;


}


.nft-card {

  width: 100%; 
  padding: 20px;
  background-color: #28a745; 
  color: white; 
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  margin-top: 20px;
  margin-bottom: 20px;


}

.dots-menu {


  position: absolute; 
  top: 10px;
  right: 10px;
  font-size: 24px; 
  cursor: pointer;


}

.form-field {
  margin-bottom: 15px;
  text-align: left;
}

.form-field label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: white;
}

.form-field input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #28a745;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.submit-button:hover {
  background-color: #e0e0e0;
}

.submit-button:active {
  transform: scale(0.98);
}


.nft-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  position: relative; /* To position dropdown relative to card */
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* For kebab menu positioning */
}

.kebabMenu {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px; /* Position kebab menu to the top right */
}

.dropdownMenu {
  position: absolute;
  top: 55px; /* Positioned right below the kebab menu */
  right: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100px;
}

.dropdownMenu div {
  padding: 10px;
  cursor: pointer;
  color: #000000;
}

.dropdownMenu div:hover {
  background-color: #f0f0f0;
}


/* Container for the NFT cards */
.nft-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: transparent;
  /* justify-content: center; */
  /* margin: 20px 0; */
}

/* Card styles */
.nft-card {
  
  width: 100%;
  background-color: #51a8f8 !important;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 10, 0, 0.1);
  position: relative;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.kebabMenu {
  font-size: 24px;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 35px;
  right: 15px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 100;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.dropdownMenu div {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdownMenu div:hover {
  background-color: #f0f0f0;
}

/* Form inside the card */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
}

form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

form button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

form button:hover {
  background-color: #45a049;
}

/* Style the card content */
.nft-card p {
  margin: 5px 0;
  font-size: 14px;
}

.nft-card p strong {
  font-weight: bold;
}

/* Ensure that the card container is responsive */
@media screen and (max-width: 768px) {
  .nft-card-container {
      flex-direction: column;
      align-items: center;
  }
}

.backbutton{
  width:120px;
  bottom: 10px;
  color: #000000;
  border-radius: 5px;
  border: 1px solid yellow;
  background-color: #ccc;
  margin-top: 10px;
  align-self: center;
  /* margin-left: 190px; */
}